<div class="ui inverted   vertical center aligned segment" id="whole" >
    <div class="ui container">
      <div class="ui black inverted borderless huge fluid menu " >
        <a class="header item" href="/Home">Home</a>
        <a class="active item" href="/Home">Exected Rank</a>
        <a class="item" href="/Home">Expected College</a>
        <a class="item" href="/comparison">College Comparator</a>
        <a class="ui dropdown item floated right">Features<i class="dropdown icon"></i>
          <div class="menu">
            <div class="item ">
              Comparator
            </div>
            <div class="item">
              Expected Rank
            </div>
            <div class="item">
              Expected College
            </div>
            <div class="ui divider"></div>
            <div class="header">
              Navbar header
            </div>
            <div class="item" onclick="list()">
              Priority List
            </div>
            <div class="item">
              One more seperated link
            </div>
          </div>
        </a>
      </div>
  </div>

<div class="ui basic modal">
  <div class="ui icon header">
    <i class="clipboard list icon"></i>
    College list
  </div>
  <div class="content container inverted teal">
    <ul>
      <li>
        IIIT-Hyderabad
      </li>
      <li>
        IIIT-Allahabad
      </li>
    </ul>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>