<div class="ui grid" style="">
    <div class="three column row" id="slide">
      <div class="active column" data-tab="1">
        <div class="ui inverted vertical center aligned segment">
          <div class="ui active text container">
            <h1 class="ui inverted header">
              JEE Counselling
            </h1>
            <p>
            Find the steps to be followed for the jee counselling.
            Jee counelling is going to start from ----.
            </p>
            <div class="ui huge inverted teal button" >
               View Details
            </div>
          </div>
        </div>
      </div>
      <div class="column" data-tab="2" >
        <div class="ui  inverted vertical center aligned segment">
          <div class="ui active text container" >
            <h1 class="ui inverted header">
              JEE Rank    
            </h1>
            <p>
              Find your category rank and general rank.
              Also predic your colleges using your Jee rank.
            </p>
            <div class="ui huge inverted teal button">
              Learn more
            </div>
          </div>
          
        </div>
      </div>
      <div class="column" data-tab="3">
        <div class="ui inverted vertical center aligned segment">
          <div class="ui active text container">
            <h1 class="ui inverted header">
              Prepare list
            </h1>
            <p>
              Prepare priority college list for jee counselling using college camparator.
              Know your college strength and weakness. Find best fit college for your rank. 
            </p>
            <div class="ui huge inverted teal button">
              Learn more
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="bubble">
      <div class="ui center aligned container">
        <div class="ui circular icon green mini button"></div>
        <div class="ui circular icon mini button"></div>
        <div class="ui circular icon mini button"></div>
      </div>
    </div>
  </div>
  <div class="ui grid" id="control">
    <div class="row">
      <div class="three wide left floated column">
        <div class="ui basic big button" id="left">
          <i class="left chevron big icon"></i>
        </div>
      </div>
      <div class="three wide right floated column">
        <div class="ui basic big button" id="right">
          <i class="right chevron big icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>