<% include Partials/Header %>
<div class="ui hidden divider "></div>
<div class="ui fixed inverted massive menu">
    <div class="ui container">
      <a href="#" class="header item">
        <img class="logo" src="assets/images/logo.png">
        Project Name
      </a>
      <a href="#" class="item">Home</a>
      <div class="ui simple dropdown item">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>

<div class="ui container">
  <div class="ui centered segment">
    <table class="ui table">
      <thead>
        <tr>
          <th class="two wide">Name:</th>
          <th class="two wide">Name:</th>
          <th class="two wide">Result</th>
      </thead>
      <tbody>
        <tr>
          <td>IIIT-Hyderabad</td>
          <td>IIIT-Allahabad</td>
          <td> Greater </td>
        </tr>
        <tr>
          <td>Reidencial</td>
          <td>Reidencial</td>
          <td> Equal </td>
        </tr>
        <tr>
          <td>Intake: 200+</td>
          <td>Intake: 300+</td>
          <td>Lesser</td>
        </tr>
        <tr>
          <td>Median Salary: 18LPA</td>
          <td>Median Salary: 16LPA</td>
          <td>Greater</td>
        </tr>
        <tr>
          <td>Ranking: 11th</td>
          <td>Ranking: 14th</td>
          <td>Greater</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>3 People</th>
          <th>2 Approved</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>


</div>
 <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
<% include Partials/Footer %>